@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;600&display=swap");
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

input:focus,
button:focus {
  outline: none;
}

#chat-wrap {
  max-width: 600px;
  margin: 30px auto;
  border: 1px solid #eee;
  border-radius: 4px;
  h2 {
    font-size: 23px;
    padding: 10px 20px;
    color: #fff;
    background-color: #0085ad;
  }

  #chat-window {
    height: 400px;
    overflow-y: auto;
    #output {
      p {
        font-size: 15px;
        padding: 12px;
      }
      p:nth-child(even) {
        background-color: #f2f2f2;
      }
      strong {
        color: #0085ad;
      }
    }
    #feedback {
      p {
        font-size: 13px;
        padding: 12px;
      }
    }
  }
  input {
    padding: 10px 20px;
    border: none;
    border-top: 1px solid #eee;
    display: block;
    width: 100%;
    font-size: 15px;
  }
  button {
    color: #fff;
    background-color: #0085ad;
    border: 0;
    border-radius: 0 0 5px 5px;
    width: 100%;
    padding: 12px 0px;
    font-size: 14px;
    cursor: pointer;
  }
}
